.imagen_fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("ruta-de-tu-imagen.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* 10% de opacidad */
  z-index: -1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.titulo_contenedor {
  color: black;
  font-size: 24px;
  font-family: "kaisei Decol", serif;
  width: 300px;
  height: 150px;
  display: grid;
  place-items: center;
}

.input_user {
  width: 311px;
  height: 67px;
  border: 2px solid #afde7f;
  border-radius: 10px;
  color: #000000;
  font-family: "kaisei Decol", serif;
  padding-left: 30px;
  font-size: 16px;
  margin-bottom: 21px;
  outline: none;
}

.input_user:hover {
  outline: none;
  background-color: #afde7f;
}

.input_password {
  width: 311px;
  height: 67px;
  border: 2px solid #afde7f;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-family: "kaisei Decol", serif;
  padding-left: 30px;
  font-size: 16px;
  margin: 1px;
  outline: none;
}

.input_password:hover {
  outline: none;
  background-color: #afde7f;
}

.button_sign_in {
  width: 345px;
  height: 67px;
  border: 2px solid #afde7f;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-family: "kaisei Decol", serif;
  font-size: 16px;
  margin: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  text-align: center;
  color: white;
  font-size: 20px;
}

.button_sign_in:hover {
  background-color: #afde7f; /* Fondo verde claro al pasar el cursor */
}

.button_sign_in:active {
  background-color: #68b44d; /* Fondo verde más oscuro al hacer clic */
  border: 2px solid #5a9c43;
}

.parrafo {
  color: #000000;
  font-size: 16px;
  font-family: "kaisei Decol", serif;
  margin-bottom: 40px;
  margin-top: 10px;
}

.parrafo {
  text-decoration: none;
}

.parrafo:hover {
  text-decoration: underline;
}

.button_register {
  width: 183px;
  height: 48px;
  border: 2px solid #afde7f;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-family: "kaisei Decol", serif;
  font-size: 16px;
  margin: 1px;
  background-color: #afde7f;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.button_register:hover {
  background-color: #afde7f; /* Fondo verde claro al pasar el cursor */
}

.button_register:active {
  background-color: #68b44d; /* Fondo verde más oscuro al hacer clic */
  border: 2px solid #5a9c43;
}

.footer {
  font-family: "kaisei Decol", serif;
  font-size: 10px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
}

@media (max-width: 600px) {
  .titulo_contenedor {
    color: black;
    font-size: 12px;
  }
  .input_password,
  .input_user {
    width: 155.5px;
    height: 33.5px;
    border: 1px solid #afde7f;
    border-radius: 5px;
    color: #000000;
    font-family: "kaisei Decol", serif;
    padding-left: 15px;
    font-size: 8px;
    margin-bottom: 8px;
  }

  .button_sign_in {
    width: 172.5px;
    height: 33.5px;
    border: 1px solid #afde7f;
    border-radius: 5px;
    font-size: 8px;
    font-size: 10px;
  }
  .parrafo {
    font-size: 8px;
  }
  .button_register {
    width: 91.5px;
    height: 23.5px;
    border: 1px solid #afde7f;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: "kaisei Decol", serif;
    font-size: 8px;
    margin: 0.5px;
    background-color: #afde7f;
    color: white;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
  .footer {
    font-size: 5px;
    margin-top: 20px;
  }
}
